* {
   font-family: Hack;
}

.game-container {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: auto;
}

.result {
   padding: 10px 0;
   text-align: center;
   font-size: 24px;
}

.red-text {
   color: #bf360c;
}

.winner-text {
   color: #ffa000;
}

.letter {
   min-width: 40px;
   border: 1px solid #03a9f4;
   transition: transform 0.6s;
   transform-style: preserve-3d;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   text-transform: uppercase;
}

.flip-effect {
   transform: rotateY(180deg);
}

.letter--guessed {
   background-color: green;
   transform: rotateY(360deg);
}

.word-container {
   padding: 5px;
   border: 1px solid #e0e0e0;
   min-height: 60px;
   margin: 20px 0;
   display: inline-grid;
   grid-gap: 15px;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, 40px);
}

.btn {
   min-width: 80px;
   line-height: 40px;
   background: transparent;
   border: 1px solid black;
   border-radius: 6px;
   outline: none;
   cursor: pointer;
}

.btn-group {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, 200px);
   grid-gap: 10px;
}

.hidden {
   display: none;
}

.player__wrapper {
   display: flex;
   justify-content: space-around;
}

.player1,
.player2 {
   line-height: 50px;
   font-size: 30px;
   height: 150px;
   width: 250px;
   border: 3px #03a9f4 solid;
   border-radius: 20px;
   text-align: center;
   display: table;
   position: relative;
}

.player1 p,
.player2 p {
   display: table-cell;
   vertical-align: middle;
}